<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//commons.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wei.mao.dao.VoiceDao">

    <select id="queryAll" resultType="String">
        SELECT url from s_voice
    </select>

    <select id="queryTheme" resultType="Theme">
        SELECT c.category_id as id,TRIM(r.name) as name from t_resource_theme AS r, r_category_resource AS c where r.id = c.resource_id and
        c.resource_type_id = 4
    </select>

    <select id="queryCategory" resultType="String">
        SELECT show_type from t_category
    </select>

    <select id="query" resultType="String">
        SELECT name from t_category WHERE id in (SELECT c.category_id from t_resource_theme AS r, r_category_resource AS c where r.id = c.resource_id and r.name = #{name} and c.resource_type_id = 4)
    </select>


    <!--<insert id="insert">-->
        <!--INSERT into t_voice(url) VALUES(#{url})-->
    <!--</insert>-->

    <!--<insert id="insertBash">-->
        <!--INSERT INTO t_voice(url) VALUES-->
        <!--<foreach collection="list" index="index" item="item" open="(" separator="),(" close=")">-->
            <!--#{item}-->
        <!--</foreach>-->
    <!--</insert>-->


    <insert id="insertBash">
        INSERT INTO t_push_tag(duid,app_name,tag) VALUES
        <foreach collection="list" index="index" item="item" open="(" separator="),(" close=")">
            #{item.duid},#{item.app_name},#{item.tag}
        </foreach>
    </insert>

</mapper>